html,body,h1,h2,h3,h4,h5,h6,p,pre,ol,ul,li,form,input,textarea{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font:16px/1.5 "Microsoft YaHei UI","sans-serif";
    color: #333333;
}
a{
    text-decoration: none;
    color: #333333;
}
/*默认样式*/
.nav{
    width: 100%;
    height: 79px;
    background: rgba(0,0,0,0.15);
    position: fixed;
    top: 0;
    z-index: 1;
}
.nav.active{
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
}
.nav.active .navList li a{
    color: #333333;
}
.nav.active .navList li a:hover{
    color:  #16b0bc;
}
.navContent{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    width: 150px;
    height: 50px;
    float: left;
    margin-top: 14px;
}
/* a 标签是行内标签*/
.logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.logo a img{
    width: 100%;
    height: 100%;
}
.navList{
    width: 602px;
    height: 100%;
    float: right;
}
.navList li{
    float: left;
    width: 86px;
    height: 100%;
}
.navList li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 79px;
    font-size: 14px;
    color: #ffffff;
    transition: linear .5s;
}
.navList li a:hover{
    color: #16b0bc;
}
/* nav */
.banner{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.inner {
    width: 400vw;
    height: auto;
    overflow: hidden;
    margin-left: -100vw;
    transition: all 1s;
}
.img-box {
    width: 100vw;
    height: auto;
    float: left;
}
.img-box img {
    display: block;
    width: 100%;
    height: auto;
}
.arrow {
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-size: 30px;*/
    color: rgba(204, 204, 204, 0.5);
    opacity: 0;
    cursor: pointer;
}
.pre i,.next i{
    font-size: 30px;
}
.pre {
    left: 0;
}
.next{
    right: 0;
}
.arrow:hover{
    opacity: 1;
}
/*banner*/
.floral{
    width: 100%;
    height: 604px;
    padding: 70px 0;
    background: #ffffff;
}
.floralContent{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.floralContent h1{
    font-weight: 200;
    text-align: center;
    height: 50px;
    position: absolute;
    left: 40%;
}
.floralContent p.desc{
    margin-bottom: 50px;
    color: #5e7387;
    text-align: center;
}
.swiper{
    width: 1170px;
    /*height: 476px;*/
    height: 604px;
    position: relative;
}
.middle-content{
    width: 5000px;
    height: 476px;
    margin-left: -1050px;
}
.goods-arrow{
    width: 75px;
    height: 476px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 476px;
}
.preLeft i,.nextRight i{
    font-size: 30px;
    color: #cccccc;
}
.preLeft {
    left: 0;
}
.nextRight{
    right: 0;
}

.swiper .swiperMiddle{
    width: 1020px;
    height: 476px;
    margin: 0 auto;
    overflow: hidden;
}
.swiper .swiperContent{
    width: 320px;
    height: 100%;
    margin: 0 auto;
    float: left;
    margin-right: 30px;
}
.swiperContent .pictureContent{
    width: 320px;
    height: 440px;
}
.pictureContent h4{
    text-align: center;
    font-size: 18px;
}
.pictureContent img{
    display: block;
    float: left;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 11px;
}
.jieshao{
    font-size: 14px;
    margin: 11px 0;
}
.floralContent a{
    display: block;
    width: 320px;
    height: 36px;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    background: #f96868;
    border-radius: 5px;
}
.floralContent a:hover{
    background: rgba(249, 104, 104, 0.8);
    transition: all .3s;
}
/*floral*/
.flower{
    width: 100%;
    height: 750px;
    background: #f5f5f5;
}
.flowerContent{
    width: 1170px;
    height: 610px;
    margin: 0 auto;
    padding: 70px 0;
}
.flowerContent h1{
    font-weight: 300;
    text-align: center;
    height: 50px;
    position: absolute;
    left: 40%;
}
.flowerList{
    height: 560px;
    width: 100%;
}
.flowerList .flowerItem{
    float: left;
    width: 560px;
    height: 110px;
    margin-top: 30px;
    margin-right: 30px;
}
.flowerList .flowerItem:nth-of-type(even){
    margin-right: 0;
}
.flowerItem .itemThumb{
    float: left;
    width: 160px;
    height: 96px;
}
.flowerItem .itemInfo{
    float: right;
    width: 390px;
    height: 100%;
    font-size: 14px;
    color: #76838f;
}
.itemThumb a,.itemThumb a img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.itemInfo h2{
    width: 100%;
    height: 30px;
}
.itemInfo h2 a{
    display: block;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 18px;
    transition: all ease .5s;
}
.itemInfo h2 a:hover{
    color: #16b0bc;
    text-decoration: underline;
}
.itemInfo p.infoDesc{
    padding: 5px 0;
    height:2.8em ;
    overflow: hidden;

    position: relative;
}
.itemInfo p.infoDesc::after{
    content: '...';
    position: absolute;
    right: 0;
}
.animationLeft,.animationRight{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
/*flower*/
.buttom{
    width: 100%;
    height: 819px;
    padding: 70px 0;
}
.foot{
    height: 672px;
    width: 1170px;
}
.buttomContent{
    width: 1170px;
    height:100% ;
    margin: 0 auto;
    text-align: center;
}
.buttomContent h1{
    font-weight: 300;
    text-align: center;
    height: 50px;
    margin-bottom: 70px;
}
.buttomContent p{
    line-height: 32px;
}
.buttomContent img{
    display: block;
    width: 530px;
    height: 340px;
    margin: 0 auto;
    margin-top: 28px;
}
/*buttom*/
.last{
    width: 100%;
    height: 181px;
    border-top:1px solid #f0f2f5 ;
    background: #f5f5f5;
}
.last .top{
    width: 100%;
    height: 20px;
    background: #ffffff;
}
.last .footer{
    width: 100%;
    height: 151px;
    text-align: center;
}
.footer .dsf{
    width: 120px;
    height: 46px;
    margin: 20px auto 0;
}
.chat{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    float: left;
    position: relative;
}
.ewmBottom{
    display: none;
    width: 160px;
    height: 208px;
    background: #ffffff;
    position: absolute;
    left: -70px;
    top: -216px;
}
.ewmBottom:after{
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: absolute;
    bottom: -5px;
    left: 75px;
    background: #ffffff;
}
.ewmBottom .ewm{
    width: 160px;
    height: 208px;
}
/*.weixin{*/
    /*display: block;*/
    /*width: 26px;*/
    /*height: 26px;*/
/*}*/

.footer .dsf .qq{
    display: block;
    width: 26px;
    height: 26px;
    /*margin-top: 10px;*/
}
.footer span a{
    display: inline-block;
    line-height: 25px;
    font-size: 14px;
    text-decoration: none;
    color: #62a8ea;
}
.footer span a:hover{
    color: #a2c2e1;
    text-decoration: underline;
}
.footer p{
    color: #aaaaaa;
    line-height: 25px;
    font-size: 14px;
}
/*last*/

/*返回键*/
.back{
    width: 36px;
    height: 36px;
    background: rgba(0,100,255,0.8);
    transition: all .3s;
    position: fixed;
    right: 10px;
    bottom: 15px;
    text-align: center;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
    display: none;
}
.back.active{
    display: block;
}
.back:hover{
    background: rgba(0,100,255,0.6);
    transition: all .3s;
}

/*more*/
.h1{
    width: 1170px;
    height: 50px;
    position: relative;
}
.more1,.more2{
    width: 56px;
    height: 30px;
    background: #0064FF;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    line-height: 30px;
    position: absolute;
    top: 10px;
    left: 55%;
}
.more1:after,.more2:after{
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: #0064FF;
    position: absolute;
    left: -5px;
    top: 10px;
}
/*.more1:hover,.more2:hover{*/
    /*background: rgba(0, 100, 255, 0.8);*/
/*}*/